/* nav & logo */
.sidebar {
    height: 80px;
    width: 100%;
    display: inline-block;


    .sidebar__logo {
        margin-top: -25px;
        margin-left: 10px;
        height: 50px;
        width: 250px;
        font-size: 28px;
        color: #000000;
        font-family: 'Playfair Display', serif;
        letter-spacing: 2px;
        cursor: pointer;
        position: fixed;

        &:hover {
            transform: scale(0.8);
            transition-duration: 3s;
            color: rgb(112, 214, 218);
        }

        &::first-letter {
            font-size: 38px;
            color: #16CCCC;
            text-decoration: underline;
            font-weight: 700;
        }
    }
}